<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Empresas</title>
    <!--Barra de meni-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--fa fa-icon-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
    	touch: true,
    	pauseOnAction: false,
    	pauseOnHover: false,
    });
  });
</script>       
</head>
<body>
    <!-- Barra de menu -->
    <header>
        <div class="logo" data-aos="fade-left">
            <a href="index.html">BlueLand</a>

        </div>
        <nav id="menu">
            <ul>
                <li><a href="#">Paquetes vendidos</a></li>
                <li><a href="#">Estado de paquetes</a></li>
                <li><a href="#">Crear paquetes nuevos</a></li>
                <li><a href="#">Reporte de usuarios</a></li>
            </ul>
        </nav>
        <div class="menu-toggle" style="z-index:1080;" data-aos="fade-down">
            <i class="fa fa-bars"></i>
        </div>
    </header>
    <script src="../script/index.js"></script>
    <!-- Barra de menu -->

    <!--Body-->

    <!--Body-->

    <!-- Footer-->
    <footer class="footer" id="Footer">
        <link rel="stylesheet" href="../static/css/footer.css">
        <div class="container-footer" data-aos="fade-down">
            <div class="row" data-aos="fade-down">
                <div class="footer-colum" data-aos="fade-down">
                    <h4>Compañia</h4>
                    <ul>
                       <li><a href="#">Sobre nosotros</a></li>
                       <li><a href="#">Nuestros servicios</a></li>
                       <li><a href="#">Politica de privacidad</a></li>   
                    </ul>
                </div>
                <div class="footer-colum" data-aos="fade-down">
                    <h4>Ayuda</h4>
                    <ul>
                       <li><a href="#">FAQ</a></li>
                       <li><a href="#">Paquetes</a></li>
                       <li><a href="#">Soporte tecnico</a></li>
                       <li><a href="#">Metodos de pago</a></li>   
                    </ul>
                </div>
                <div class="footer-colum" data-aos="fade-down">
                    <h4>Reservaciones</h4>
                    <ul>
                       <li><a href="#">Estado de reservación</a></li>
                       <li><a href="#">Costos bajos</a></li>   
                       <li><a href="#">Costos medios</a></li>
                       <li><a href="#">Costos altos</a></li>
                    </ul>
                </div>
                <div class="footer-colum" data-aos="fade-down">
                    <h4>Siguemos</h4>
                    <div class="redes" data-aos="fade-down">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>